html {
	box-sizing: border-box;
	background-color: #333;
	color: white;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	max-width: 1200px;
	margin: 0 auto;
}
.flex {
	display: flex;
	align-items: center;
}
ul {
	list-style: none;
	padding: 0;
}
h1, h2, h3, h4, p, span {
	margin: 0;
	padding: 0;
}
.container-header {
	width: 1200px;
	margin: 0 auto;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.header {
	margin-bottom: 30px;
}

.button {
	cursor: pointer;
	padding: 0;
	height: 55px;
	width: 90px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
}

.button-push {
	background-color: rgb(166, 97, 232);
	border-radius: 4px;
	transition: transform .08s ease-in-out;
}
.button-push:hover {
	transform: scale(1.1);
}
.button-push:active {
	transform: scale(1);
}


.button-done {
	margin-right: 10px;
	background-color: rgba(129, 232, 97, 0.711);
	border-radius: 4px;
	transition: transform .08s ease-in-out;
}
.button-done:hover {
	transform: scale(1.1);
}
.button-done:active {
	transform: scale(1);
}

.button-delete {
	background-color: rgba(233, 8, 8, 0.636);
	border-radius: 4px;
	transition: transform .08s ease-in-out;
}
.button-delete:hover {
	transform: scale(1.1)
}
.button-delete:active {
	transform: scale(1);
}

.nav {
	margin-bottom: 50px;
}

.nav-link {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 50px;
	transition: transform .1s ease-in-out;
}
.nav-link:hover {
	transform: scale(1.2);
}
.nav-link:active {
	transform: scale(1);
}

.nav-link:not(:last-child) {
	margin-right: 50px;
}

.form {
	margin-bottom: 20px;
}

.form-input {
	margin-right: 20px;
	width: 100%;
	height: 45px;
	font-size: 20px;
}

.todo-item {
	align-items: center;
	padding: 20px;
	justify-content: space-between;
	bottom: 1px solid gray;
}

.todo-item:hover {
	border-radius: 6px;
	outline: 1px solid gray;
	outline-offset: 10px;
}

.todo-item:not(:last-child) {
	margin-bottom: 30px;
}

.main-title {
	margin: 0 auto;
	display: inline-block;
	font-size: 56px;
}

.todo-item__text {
	font-size: 25px;
}

.item-done {
	background-color: rgba(0, 128, 0, 0.27);
	border-radius: 10px;
}