.modal-root {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10000;
}

.modal-win {
	background-color: white;
	max-width: 360px;
	padding : 20px;
	margin: 10vh auto;
}